.main {
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.toggleText {
    color: #34C94B;
    cursor: pointer;
}

.cardWrapper {
    margin-top: 18px;
}

.wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}