.section-wraper {
  /* width: 80%; */
  /* height: 592px; */
  margin-left: 31px;
  margin-right: 12px;
}

.Section-img {
  flex-wrap: wrap;
  display: flex;
  margin-left: 12px;
  width: 100%;
  row-gap: 35px;
  column-gap: 40px;
}
.Section-content {
  color: white;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.Section-content-1 {
  color: green;
  /* margin-right: 150px; */
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  cursor: pointer;
}
.Section-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color-text {
  color: white;
}