.btn {
  height: 47px;
  width: 170px;
  border: 1px solid;
  border-radius: 12px;
  background-color: #121212;
  color: #34c94b;
  padding: 10px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
