@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.albumSection {
    background-color: #121212;
    padding: 15px;
    padding-bottom: 30px;
}

.cardDiv {
    margin: 10px;
    /* height: 205px; */
    height: 232px;
    width: 160px;
    border-radius: 10px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}