.button {
    background-color: #121212;
    border: 1px solid black;
    font-weight: 600;
    color: #34c94b;
    width: 170px;
    height: 47px;
    padding: 10px, 16px, 10px, 16px;
    border-radius: 12px;
    font-size: 18px;
    margin-right: 32px;
  }