.heroDiv {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroTextDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin: 0;
}

