.Textcolor{
    color: white;
}
.Heroalign{
    width: 799px;
    height: 212px;
    margin: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
}
/* .Textcolor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 272px;
    width: 100vw;
}
.Heroalign{
    display: flex;
    align-items: center;
    color: var(--css-white);
} */