.wraper{
    display: flex;
    align-items: stretch;
    /* justify-content: center; */
    height: 48px;
}

.search{
    padding: 15px 20px;
    height: 100%;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px ;
    border: 1px solid var(--color-black);
    width: 502px;
    font-family: Poppins;
}

.searchButton{
    padding: 15px 20px;
    height: 100%;
    border-radius:0px 8px 8px 0px ;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
    font-family: Poppins;
    /* width: 502px; */
}